:root {
  font-size: 62.5%;
}

button {
  outline: none !important;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: roboto, sans-serif;
  line-height: 2.4rem;
  background: #F7F7F7;
}
