

.navigation-container {
    width: 100%;
    grid-row: 4 / 5;
    grid-column: 1 / 13;
    height: 4rem;
    display: grid;
    grid-template-columns: 1.6rem repeat(10, 1fr) 1.6rem;
    background: white;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    font-size: 1.4rem;

    .category-container {
        display: flex;
        grid-column:  2/12;
        height: 100%;
        align-items: center;
        position: relative;
        cursor: pointer;
  
        
        .btn-primary,
        .btn-primary:focus,
        .btn-primary:hover {
            background-color: white;
            border-color: white;
            color: #737373;
            font-size: 1.4rem;
            box-shadow: none;
            padding: 0;

            &::after {
                margin-left: 1.6rem;
            }
        
            & + div {
                font-size: 1.4rem;
            }
        }
    
        .nav-items-container {
            display: flex;
            flex-direction: row;
            height: 100%;
            border-left: 1px solid #ccc;
            margin-left: 2.4rem;
    
            ul {
                width: 100%;
                height: 100%;
                margin-left: 0;
    
                li { 
                    display: inline-flex;
                    list-style-type: none;
                    height: 100%;
                    align-items: center;
                    font-size: 1.4rem;
        
                    & a {
                        color: #737373;
                        padding: 0 8px;
                        height: 100%;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .active {
                    color: $primary-color;
                    background-color: #f7f7f7;
                    }
                    
                }   
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .navigation-container {
        grid-template-columns: 6.4rem repeat(10, 1fr) 6.4rem;
    }

    .nav-items-container {
        ul {
            margin-left: 3.2rem;
        }
    }
}